<div class="cart__widget" data-cart-widget>
  <button
    class="cart__widget__title"
    type="button"
    data-collapsible-trigger
    aria-expanded="false"
    aria-controls="discounts"
  >
    {{- 'cart.general.discounts_label' | t -}}
    {%- render 'icon-toggle-plus' -%}
    {%- render 'icon-toggle-minus' -%}
  </button>

  <div id="discounts" data-collapsible-container>
    <div class="cart__widget__content" data-collapsible-content>
      <label for="discount">{{ 'cart.general.discount_code' | t }}</label>
      <input
        type="text"
        id="discount"
        name="discount_code"
        class="cart__field cart__field--input"
        data-discount-input
      >

      <p
        class="cart__errors__content cart__errors__content--discount hidden"
        data-discount-error-message
        role="alert"
      ></p>

      <input type="hidden" name="discount" value="" data-discount-field>

      <button
        type="button"
        name="apply"
        class="btn btn--primary btn--apply-discount"
        data-apply-discount
      >
        <hover-button></hover-button>
        {{- 'cart.general.apply' | t -}}
      </button>
    </div>
  </div>
</div>
