<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {%- render 'head' -%}

    {{ content_for_header }}
  </head>

  <body class="template-password">
    {%- render 'loading' -%}
    {{ content_for_layout }}
  </body>
</html>
