/*================ Hotspot ================*/
.hotspot {
  --position-x: var(--hotspot-x-sm, 50%);
  --position-y: var(--hotspot-y-sm, 50%);
  --hotspot-color: var(--COLOR-BG-ALPHA-85);
  --hotspot-width: 32px;
  --hotspot-offset: 12px;
  --padding-block: 8px;
  --padding-inline: 16px;
  --line-height: 1.25;
  --font-size: calc(1rem * var(--adjust-heading));
  --btn-inner-block: calc(var(--padding-block) * var(--adjust-heading));
  --btn-inner-inline: calc(var(--padding-inline) * var(--adjust-heading));
  --title-height: calc(2 * var(--btn-inner-block) + var(--line-height) * var(--font-size));
  --info-bubble-inset-block: var(--inset-block-sm, calc(100% + var(--hotspot-offset)) auto);
  --info-bubble-inset-inline: var(--inset-inline-sm, auto auto);
  --info-bubble-align: var(--align-sm, baseline);
  --info-bubble-justify: var(--justify-sm, center);
  --line-rotation: var(--rotate-sm, -90deg);
  --inner: 10px;
  --scale-factor: 0.9;
  --duration: 0.25s;
  --easing: cubic-bezier(0.25, 0.6, 0.5, 0.95);
  /* stylelint-disable-next-line */
  --target-animation: pulseInOutSubtle 2.5s ease infinite;
  --content-animation-in: var(--duration) var(--easing) 1 forwards fadeIn, var(--duration) var(--easing) 1 forwards zoomOut;
  --content-animation-out: var(--duration) var(--easing) 1 forwards fadeOut, var(--duration) var(--easing) 1 forwards zoomIn;
  position: absolute;
  z-index: 2;
  inset-inline-start: var(--position-x);
  inset-block-start: var(--position-y);
  margin-inline-start: calc(var(--hotspot-width) / -2);
  margin-block-start: calc(var(--hotspot-width) / -2);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: var(--line-height);
}
@media only screen and (min-width: 768px) {
  .hotspot {
    --position-x: var(--hotspot-x-lg, 50%);
    --position-y: var(--hotspot-y-lg, 50%);
    --info-bubble-inset-block: var(--inset-block-lg, calc(100% + var(--hotspot-offset)) auto);
    --info-bubble-inset-inline: var(--inset-inline-lg, auto auto);
    --info-bubble-align: var(--align-lg, baseline);
    --info-bubble-justify: var(--justify-lg, center);
    --line-rotation: var(--rotate-lg, -90deg);
  }
}
.hotspot.on-hover .hotspot__target, .hotspot:hover .hotspot__target, .hotspot:focus-within .hotspot__target {
  transform: scale(1.25);
}
.hotspot.on-hover .hotspot__target-inner, .hotspot:hover .hotspot__target-inner, .hotspot:focus-within .hotspot__target-inner {
  transform: scale(0.9);
}
.hotspot.on-hover .hotspot__line, .hotspot:hover .hotspot__line, .hotspot:focus-within .hotspot__line {
  transform: scale(1.25) rotate(var(--line-rotation));
}

.hotspot--hide-info .hotspot__info-bubble,
.hotspot--hide-info .hotspot__line {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hotspot--hide-info-desktop .hotspot__info-bubble,
  .hotspot--hide-info-desktop .hotspot__line {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .hotspot--hide-info-mobile .hotspot__info-bubble,
  .hotspot--hide-info-mobile .hotspot__line {
    display: none;
  }
}

.hotspot.is-active.block-selected .hotspot__content {
  inset-block: var(--info-bubble-inset-block);
  inset-inline: var(--info-bubble-inset-inline);
}
.hotspot.is-active.block-selected .hotspot__line {
  opacity: 1;
}

.hotspot.is-active {
  z-index: 5;
}
.hotspot.is-active .hotspot__target:after {
  animation: none;
}
@media only screen and (min-width: 768px) {
  .hotspot.is-active .hotspot__line,
  .hotspot.is-active .hotspot__info-bubble {
    opacity: 0;
  }
  .hotspot.is-active .hotspot__content {
    pointer-events: all;
    animation: var(--content-animation-in);
  }
  .hotspot.is-active .hotspot__content a,
  .hotspot.is-active .hotspot__content button,
  .hotspot.is-active .swatch__button {
    pointer-events: all;
  }
}

.hotspot__line {
  position: absolute;
  z-index: 3;
  inset-block: auto auto;
  inset-inline: auto auto;
  width: var(--hotspot-width);
  height: var(--BORDER-WIDTH);
  display: block;
  background: transparent;
  transform: rotate(var(--line-rotation));
  transform-origin: 50% 50%;
  pointer-events: none;
  transition: transform 0.3s ease-in-out, opacity 0.4s;
}
.hotspot__line:after {
  content: "";
  position: absolute;
  inset-block: auto auto;
  inset-inline: auto 100%;
  width: min(var(--hotspot-width), var(--title-height));
  height: 100%;
  background-color: var(--hotspot-color);
}

.hotspot__info-bubble {
  position: absolute;
  z-index: 3;
  display: grid;
  grid-template-columns: max-content;
  inset-block: var(--info-bubble-inset-block);
  inset-inline: var(--info-bubble-inset-inline);
  justify-content: var(--info-bubble-justify);
  align-items: var(--info-bubble-align);
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .hotspot__info-bubble {
    transition: opacity 0.4s;
  }
}

.hotspot__title {
  margin-block: 0;
  margin-inline: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-block: var(--btn-inner-block);
  padding-inline: var(--btn-inner-inline);
  max-width: calc(var(--wrapper-width) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: var(--bg);
  font-size: var(--font-size);
  color: var(--text);
  pointer-events: all;
  cursor: pointer;
}
.hotspot__title .icon {
  height: calc(var(--font-size) * 0.9);
  width: auto;
  margin-inline-start: 3px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}
.hotspot__title:hover .icon {
  transform: translateX(40%);
}

.hotspot__content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: var(--inner);
  display: none;
  background: var(--bg);
  color: var(--text);
}
@media only screen and (min-width: 768px) {
  .hotspot__content {
    position: absolute;
    z-index: 4;
    inset-block: auto auto;
    inset-inline: auto auto;
    min-width: 320px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    opacity: 0;
    pointer-events: none;
    animation: var(--content-animation-out);
  }
}
.hotspot__content a,
.hotspot__content button,
.hotspot__content .swatch__button {
  pointer-events: none;
}

.hotspot__target {
  position: relative;
  border: var(--BORDER-WIDTH) solid var(--hotspot-color);
  border-radius: 50%;
  width: var(--hotspot-width);
  height: var(--hotspot-width);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.hotspot__target:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  background: var(--hotspot-color);
  opacity: 0;
  z-index: -1;
  will-change: transform, opacity;
  animation: var(--target-animation);
}

.hotspot__title.is-loading,
.hotspot:has(.hotspot__target.is-loading) {
  pointer-events: none;
}

.hotspot__target-inner {
  display: block;
  pointer-events: none;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 50%;
  background-color: var(--hotspot-color);
  transition: transform 0.3s ease-in-out;
}

.body--rounded-corners .hotspot__title,
.body--rounded-corners .hotspot__content {
  border-radius: var(--radius);
  overflow: hidden;
}

/*================ "Shop the look" ================*/
.look {
  --hotspot: var(--white);
  contain: paint;
  display: flex;
  flex: 1;
  align-items: stretch;
  background: var(--bg);
}
@media only screen and (max-width: 767px) {
  .look {
    min-height: 0;
    height: auto;
    flex-wrap: wrap;
  }
}
.look .flickity-viewport,
.look .product-grid-item {
  width: 100%;
}
.look .flickity-prev-next-button {
  background: var(--bg);
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .look .flickity-prev-next-button {
    --flickity-btn-position: calc((var(--gutter-mobile) / 2 - var(--flickity-btn-size)) / 2);
  }
}
@media only screen and (max-width: 767px) {
  .look .flickity-prev-next-button {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .look .flickity-page-dots {
    position: relative;
    padding-block-start: var(--gutter-mobile);
    display: flex;
    justify-content: center;
    bottom: 0;
  }
}
.look look-component {
  width: 100%;
}

.look__wrapper {
  position: relative;
  display: grid;
  grid-template-areas: "text" "hero" "button";
  grid-template-columns: minmax(0, 1fr);
  gap: var(--gutter-mobile);
}
@media only screen and (min-width: 768px) {
  .look__wrapper {
    grid-template-areas: "text text" "products hero" "button hero" "empty hero";
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 2fr);
    grid-template-rows: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .look__wrapper {
    grid-template-areas: "text hero" "products hero" "button hero" "empty hero";
    grid-template-columns: minmax(0, 2.14fr) minmax(0, 1.86fr);
    column-gap: calc(var(--gutter) / 1.5);
  }
}

@media only screen and (max-width: 767px) {
  .look__wrapper--no-hotspots {
    grid-template-areas: "text" "hero" "button";
    grid-template-columns: minmax(0, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .look__wrapper:has([data-products="1"]) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2.25fr);
  }
}
@media only screen and (min-width: 1024px) {
  .look__wrapper:has([data-products="1"]) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }
}

@media only screen and (min-width: 768px) {
  .look__wrapper:has([data-products="2"]) {
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 2fr);
  }
}

@media only screen and (min-width: 768px) {
  .look__wrapper.is-reversed {
    grid-template-areas: "text text" "hero products" "hero button" "hero empty";
    grid-template-columns: minmax(0, 2fr) minmax(0, 1.5fr);
    grid-template-rows: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .look__wrapper.is-reversed {
    grid-template-areas: "hero text" "hero products" "hero button" "hero empty";
    grid-template-columns: minmax(0, 1.86fr) minmax(0, 2.14fr);
  }
}
@media only screen and (min-width: 768px) {
  .look__wrapper.is-reversed:has([data-products="1"]) {
    grid-template-columns: minmax(0, 2.25fr) minmax(0, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .look__wrapper.is-reversed:has([data-products="1"]) {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .look__wrapper.is-reversed:has([data-products="2"]) {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1.5fr);
  }
}

.look__text {
  --adjust-heading: var(--adjust-heading-desktop, var(--FONT-ADJUST-HEADING));
  --adjust-body: var(--adjust-body-desktop);
  grid-area: text;
  width: 100%;
  color: var(--text);
}
@media only screen and (max-width: 1023px) {
  .look__text {
    --adjust-heading: var(--adjust-heading-mobile, var(--FONT-ADJUST-HEADING));
    --adjust-body: var(--adjust-body-mobile);
  }
}
.look__text p {
  margin-top: 0;
}
@media only screen and (max-width: 1023px) {
  .text-left .look__text {
    text-align: center;
  }
  .text-left .look__text hr {
    margin-left: auto;
    margin-right: auto;
  }
}

.look__heading {
  margin-bottom: 0;
}

.look__products {
  grid-area: products;
  display: none;
}
@media only screen and (min-width: 768px) {
  .look__products {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .look__products {
    align-self: center;
  }
}

@media only screen and (min-width: 768px) {
  .look__products:not(.flickity-enabled) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--gutter-mobile);
  }
}
.look__products:not(.flickity-enabled) .look__slide {
  margin-right: 0;
}
.text-left .look__products:not(.flickity-enabled) {
  justify-content: flex-start;
}

.look__slide {
  --items-count: var(--look-products);
  --min-count: min(var(--look-products), 2);
  --gap-size: calc(var(--gutter-mobile) * (var(--items-count) - 1));
  width: calc((100% - var(--gap-size)) / var(--items-count));
  margin-right: var(--gutter-mobile);
}
@media only screen and (max-width: 767px) {
  .look__slide {
    --items-count: var(--min-count);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  [data-products="3"] .look__slide {
    --items-count: var(--min-count);
  }
}

.look__hero {
  position: relative;
  z-index: 2;
  padding-top: 100%;
  grid-area: hero;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .look__hero {
    position: sticky;
    top: calc(var(--header-sticky-height) + var(--gutter-mobile));
    height: 0;
    padding-top: var(--aspect-ratio);
  }
}
.look__hero.aos-animate .look__image {
  transition: transform 0.8s ease;
  transform: scale(1.05);
}

.look__hero-image {
  position: absolute;
  inset: 0;
  contain: paint;
}
.body--rounded-corners .look__hero-image {
  border-radius: var(--radius);
}

.look__rte p:last-child {
  margin-bottom: 0;
}

.look__image {
  align-self: flex-start;
}

@media only screen and (min-width: 768px) {
  .look__button {
    display: none;
  }
}

.look__button-cta {
  display: flex;
  justify-content: center;
  grid-area: button;
}

@media only screen and (max-width: 767px) {
  .look__button,
  .look__button-cta a {
    width: 100%;
  }
}

.look__quick-view-items {
  position: relative;
}

.look__quick-view-item {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: -1;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.look__quick-view-item.is-active {
  position: relative;
  inset-block-start: auto;
  inset-inline-start: auto;
  z-index: unset;
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}